@media screen and (min-width:0px) and (max-width:425px) {
  .event_wrapper {
    background: rgba(0,0,0,0.2);
  }
}

@media screen and (min-width:0px) and (max-width:425px) {
  .event_1_img {
    display: none;
  }
}

@media screen and (min-width:950px) and (max-width:7000px) {
  .container_about_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width:950px) and (max-width:7000px) {
  .about_us_wrapper {
    width: 49%;
  }
}

@media screen and (min-width:600px) and (max-width:7000px) {
  .mission_vision_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

