.section_1 {
  width: 100px;
  background-color: red;
  height: 99px;
}

.nav-edit {
  margin-left: 20px;
}

.services {
  margin-top: 100px;
}

.home_bg {
  width: 100%;
}

.section_events {
  width: min(900px,95%);
}

.event_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  margin: 10px 0px;
}

.event_description {
  padding: 20px;
  padding-top: 40px;
}

.event_1_img {
  margin: 0px;
}

.logo_icon {
  cursor: pointer;
}

.logo_icon {
}

